<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Web Page</title>
    <link rel="stylesheet" href="../Styles/styles.css">
</head>
<body>
    <nav id="headerbar">
        <a href="/OSP_T2/Templates/Homepage.html"><img src="/OSP_T2/Images/ZooLogo.png"></a>
        <a href="/OSP_T2/Templates/UserLoginForm">SignUp/Login</a>
        <a href="/OSP_T2/Templates/BookZoo.php">Book Tickets</a>
        <a href="/OSP_T2/Templates/BookHotel.php">Book Hotels</a>
        <a href="/OSP_T2/Templates/ContactUs.html">Contact Us</a>
        <a href="/OSP_T2/Templates/AccountPage.php">My Account</a>
    </nav>
    <h1>Welcome to the Homepage</h1>
    <p>This is a simple Homepage web page.</p>
    <p> you can reserve and book hotels and tickets to the zoo here</p>

    <a href="/OSP_T2/Templates/UserLoginForm.html">
        <button type="button">Login</button>
    </a>

    <a href="/OSP_T2/Templates/UserSignUpForm.html">
    <button type="button" >Sign Up</button>
    </a>

    <a href="/OSP_T2/Templates/BookZoo.php">
    <button type="button">Book Zoo Tickets</button>
    </a>
</body>